header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;  
    background-image: url(../../../assets/cd5fe795958dd6f905874e708175b9cf.jpg);
    background-position: center;
    background-size:cover;
    justify-content: space-evenly;
    flex-grow: 100%;
    
}


.nav-container {
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 50%;
    
}



.nav-ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: transparent;
}



.nav-link {
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 2px solid yellow;
    list-style: none;
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    justify-content: start;
    gap: 10px;
    
}

.nav-link:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

.icon {
    height: 30px;
    width: 30px;
}

.logo {
    max-height: 70px;
    margin: 10px;
}

.social-media {
    display: flex;
    gap: 10px;
}


.toggle-button {
    position: absolute;
    top: 1.5rem;
    right:1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 576px) { 

    .toggle-button {
        display: flex;
        cursor: pointer;
    }

    .nav-container {
        display: none;
    }

    header {
        height: auto;
        gap: 20px;
        position: relative;
        width: 100%;
        background-color: white;
    }

    ul {
        padding: 0px;
        margin: 0px;
    }
    .nav-container.active {
        position: absolute;
        display: flex;
        width: 100%;
        top: 80px;
        left: 0;
        background-color: white;
        height: fit-content;
        gap: 40px;
        font-size: large;
        padding-top: 40px;
    }
   
}

