<div class="proyecto">
    <img class="proyecto-imagen"src={{proyecto.imagen}}>
    <div>
        <h3>{{proyecto.titulo}}</h3>
        <p>{{proyecto.fecha}}</p>
        <p>{{proyecto.descripcion}}</p>
        <div class="link-buttons">
            <a href={{proyecto.repositorio}} target="_blank">
                <button class="btn btn-light">Repositorio</button>
            </a>
            <a href={{proyecto.link}} target="_blank">
                <button class="btn btn-light">Ver demo</button>
            </a>   
        </div>

    </div>
    <div *ngIf="isLogged" class="proyecto-buttons">
        <app-proyecto-formulario [data]="proyecto" [operation]="'edit'"></app-proyecto-formulario>
        <app-proyecto-formulario [data]="proyecto" [operation]="'delete'"></app-proyecto-formulario>
    </div>
</div>