<div class="proyecto">
    <img class="proyecto-imagen"src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=">
    <div>
        <h3>{{proyecto.titulo}}</h3>
        <p>{{proyecto.fecha}}</p>
        <p>{{proyecto.descripcion}}</p>
        <a href={{proyecto.link}} target="_blank">
            Link
        </a>
    </div>
    <div>
        <app-proyecto-formulario [data]="proyecto" [operation]="'edit'"></app-proyecto-formulario>
        <app-proyecto-formulario [data]="proyecto" [operation]="'delete'"></app-proyecto-formulario>
    </div>
</div>