.experience-item {
    display: flex;
    gap: 10px;
    align-items: center;
    border-left: 4px solid pink;
    height: 150px;
}

.experience-image {
    width: 100px;
    height: 100px;
}

.dot {
    position: relative;
    right: 10px;
    font-size: 25px;
    color: lightblue;
    align-self: flex-start;
}

.e-fecha {
    font-size: small;
}

.e-titulo {
    font-size: medium;
    font-weight: bold;
}

.e-descripcion {
    font-size: medium;
}

.e-button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-image {
    
}

