<section class="experience-item">
    <p class="dot">●</p>
    <img class="experience-image" src="{{experiencia.logo}}">
   <div class="experience-info">
        <p class="e-fecha">{{experiencia.inicio}} - {{experiencia.fin}}</p>
        <h3 class="e-titulo">{{experiencia.titulo}}</h3>
        <p class="e-descripcion">{{experiencia.descripcion}}</p>
    </div>
    <div *ngIf="isLogged" class="e-button-container">
        <app-experiencia-formulario [data]="experiencia" [operation]="'edit'"></app-experiencia-formulario>
        <app-experiencia-formulario [data]="experiencia" [operation]="'delete'"></app-experiencia-formulario>
       
    </div>
   

</section>
