<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Titulo Modal</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-login></app-login>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close(); consoleLog()">Ok!</button>
    </div>
</ng-template>

<button type="button" class="btn btn-outline-danger" (click)="modal.open(contenido)"> lanzar modal</button>


