.skills-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  
}

h2 {
    align-self: center;
    padding-bottom: 20px;
}

.circle-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    gap: 20px;

}

.skills-top {
    display: flex;
    justify-content: space-around;
}

