<div class="container">

<section class="sobre-mi">
    <div class="informacion-container">
      <div class="informacion">
          <h3>Hola, mi nombre es {{persona.nombre + " " + persona.apellido}}</h3>
         <h4>Soy {{persona.ocupacion}}</h4>
         <h4>Acerca de mi</h4>
         <p>{{persona.sobre_mi}}</p>
         <app-sobre-mi-formulario *ngIf="isLogged" [data]="persona"></app-sobre-mi-formulario>
      </div>

    </div>    
    <div class="imagen-container">
      <div class="imagen">
        <img class="img" src={{persona.imagen_perfil}}>  
      </div>
      
    </div>
    
</section>
<section class="educacion-experiencia">
  <app-experiences-container></app-experiences-container>
  <app-education-container></app-education-container>
</section>

</div>