.education-item {
    display: flex;
    gap: 10px;
    align-items: center;
    border-left: 4px solid pink;
    height: 150px;
    width: 100%;
}

.education-info {
    width: 50%;
}

.education-image {
    width: 15%;
}

.dot {
    position: relative;
    right: 10px;
    font-size: 25px;
    color: lightblue;
    align-self: flex-start;
}

.edu-fecha {
    font-size: small;
}

.edu-titulo {
    font-size: medium;
    font-weight: bold;
}

.edu-descripcion {
    font-size: medium;
}

.edu-button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}