<div class="circle">
<circle-progress
  [percent]="habilidad.nivel"
  [radius]="100"
  [imageSrc]="habilidad.imagen"
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="50"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeColor]="'pink'"
  [outerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="300"
  [responsive]="true"
></circle-progress>
<p>{{habilidad.titulo}}</p>
<app-skill-formulario [data]="habilidad" [operation]="'edit'"></app-skill-formulario>
<app-skill-formulario [data]="habilidad" [operation]="'delete'"></app-skill-formulario>
</div>